@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

.flight-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.airline-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.flight-info {
  flex-grow: 1;
  padding-left: 1rem;
}

.time-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back{
  margin-right: 10px;
  width: 100vw;
}

.divider {
  border-right: 1px solid #e2e8f0;
  height: 40px;
  margin: 0 20px;
}

.book-button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-button:hover {
  background-color: #0056b3;
}

/* .seatContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 4px;
  font-weight: bold;
  cursor: pointer;
}

.seatsHover {
  background-color: #e2e8f0;
}

.seatsHover:hover {
  background-color: #cbd5e0;
}

.selectedSeats {
  background-color: #90cdf4;
  color: #fff;
}

.bookedSeats {
  background-color: #a0aec0;
  color: #fff;
  cursor: not-allowed;
}

 */
